<template>
  <div class="walkthrough-is-it-required-to-be-called-this">
    <Title msg="Hello, this is a great title!" />
    <Title msg="Hello, this is a great title 1!" />
    <Title msg="Hello, this is a great title 2!" />
    <Title msg="Hello, this is a great title 3!" />

    <Product description="Something" />
    <Product description="Something 2" />
    <Product description="Something 3" />
    <Product description="Something 4" />

    <div class="style-2">
      Somewhere
    </div>

    <div class="style-3">
      Something else
    </div>

    <div class="style-4">
      Something else
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Title from '@/components/Title.vue'
import Product from '@/components/Product.vue'

export default {
  name: 'Walkthrough',
  components: {
    Title,
    Product
  }
}
</script>

<style>
.style-2 {
  color: blue;
  border: 3px solid blue;
}

.style-3 {
  display: inline;
  color: purple;
  border: 3px solid purple;
}

.style-4 {
  display: inline;
  color: orange;
  border: 3px solid orange;
}
</style>
