<template>
  <div class="style-1">
    {{ description }}
  </div>
</template>

<script>
export default {
  name: 'Product',
  props: {
    description: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.style-1 {
  color: red;
  border: 3px solid red;
}
</style>
